In [2]:
# Q1. 

#Create one variable containing following type of data:
# (i) string

my_puppy = 'clowy'


# (ii) list

todolist = ['Gym', 'groceries', 100, 4+ 3j]


# (iii) float

idk = 4.7860

# (iv) tuple

my_tuple = ('no me dejes en visto', 2.5, 1, (5,3,5))

In [12]:
# Q2. 

# Given are some following variables containing data:


# (i) var1 = ‘ ‘ // string

var1 = ''

print(type(var1))


# (ii) var2 = ‘[ DS , ML , Python]’ // list ? No string

var2 = '[ DS , ML , Python]'

print(type(var2))


# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] // List

var3 = [ 'DS', 'ML' , 'Python']

print(type(var3))


# (iv) var4 = 1. / int 

var4 = 1


print(type(var4))

# What will be the data type of the above given variable?

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [15]:
#Q3. 

#Explain the use of the following operators using an example:
#(i) / division

n = 4 / 2 
n




#(ii) %

s = 4 % 3

s 

#(iii) //


4 // 3




#(iv) **

1

In [19]:

dd = [34, 35, 'lola', True, 6 + 5j]

In [22]:
# Q4. 

#Create a list of length 10 of your choice containing multiple types of data. 

# Using for loop print the
# element and its data type.


for j in dd:
    print(j, type(j))
else: 
    print('Default message')

34 <class 'int'>
35 <class 'int'>
lola <class 'str'>
True <class 'bool'>
(6+5j) <class 'complex'>
Default message

In [18]:
# Q5. 

#Using a while loop, verify if the number A is purely divisible 
#by number B and if so then how many times it can be divisible.

In [31]:
# Q6. 



#Create a list containing 25 int type data.
#Using for loop and if-else condition print if the element is
#divisible by 3 or not.

mg = [ 32, 3, 4, 5 , 6 , 79, 10, 83, 
     9, 18, 98, 24, 61, 43, 23, 56, 
     74, 42, 17, 89, 14, 7, 94, 33,99]
    
for j in mg: 
    if j % 3 == 0: # '%' stands for modulo, so if remainder
                   # is 0 means its exactly divisible by 3
        print(j)
    continue
else: 
    print('Numbers not included are not divisible by 3')

3
6
9
18
24
42
33
99
Numbers not included are not divisible by 3

In [32]:
# Q7. 

#What do you understand about mutable and immutable data types? Give examples for both showing
#this property.

# mutable datatypes are those that can be changed, whereas
# inmutable are those that cant be changed 

# Strings for ex, are inmutable while lists are not


#eg

list = [1, 2, 3, 7, 'hola', 4 + 5j]


# we can reasign a value on the index we select

list[4] = 'kookie'

list

[1, 2, 3, 7, 'kookie', (4+5j)]

In [34]:
# eg2

s = 'sunil'


s[2] = 'd'
s

TypeError: 'str' object does not support item assignment